.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;  
  flex-grow: 1;
  flex-wrap: wrap;
}

.list-row {
  border: 1px #e0e0e0 solid;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  min-height: 125px;
  display: flex;
  flex-direction: row;  
  flex-grow: 1;
}

.row-el {
  flex-grow: 1;
}

.App {
  text-align: center;
  font-family: "Open Sans", "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin-bottom: 75px;
}

.App-logo {
  border-radius: 50%;
  height: 75px;
}

.App-header {
  background: rgb(85, 141, 168);
  text-align: center;
  height: 155px;
  padding: 15px;
  color: white;
}

.App-intro {
  font-size: 21px;
  font-weight: 200;
}

.App-content {
  display: inline-block;
  max-width: 800px;
  width: 70%;
}

.App-content p {
  text-align: left;
}

.App-external-links {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}

.App-external-links li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
}

.App-external-links a {
  color: white;
  text-decoration: none;
}

.App-myname {
  margin: 0;
  padding: 0;
}

.App-skill-set {
  cursor: pointer;
  flex-grow: 1;
  border: 1px #e0e0e0 solid
}

.App-skill-set-link {
  font-size:18px;
   color: black;
}

.App-skill-set-link a {
  text-decoration: none;
  color: black;
}

.App-skill-set:hover {
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.skill-set-icon {
  height: 150px;
}

.infra-icon {
  height: 40px;
  padding: 2px;
}

.infra-list-icon {
  width: 80px;
  padding: 2px;
}

h3 {
  margin-top: 50px;
}

body {
  background-color: rgba(0,0,0,0.01);
  color: rgba(0,0,0,0.8.5)
}